.App {
  display: flex;
}

.MainContent {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.MainContent.sidebarOpen {
  margin-left: var(--drawer-width);
}

.MainContent.sidebarClosed {
  margin-left: 56px;
}

body {
  font-family: 'Roboto', sans-serif;
}

