@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'BebasNeueBook';
  src: url('../../../../../assets/fonts/BebasNeue\ Book.otf') format('opentype');
  font-style: normal;
}

/* Graph Components */
.text-over-graph {
  font-family: 'BebasNeueBook';
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px
}
