@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Fonts */
.bebas-neue-bold {
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  text-align: center;
  margin-top: -20px
}

body {
  font-family: 'Roboto', sans-serif !important;
}
